mixin page-footer()
  footer.page-footer
    .container
      .page-footer__row
        .page-footer__copyright
          p.copyright © KEEP LOOKING
        .page-footer__main-content
          a.link(href="tel:+74993508050") +7 499 350 80 50
