// https://cloudconvert.com/woff-to-woff2 для конвертации woff2

@font-face {
  font-family: 'graphikLCG';
  src:  url('../fonts/graphikLCG/GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/graphikLCG/GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optima';
  src:  url('../fonts/optima/Optima.woff2') format('woff2'),
        url('../fonts/optima/Optima.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
