include ../pug/mock
include ../blocks/components/logo/logo.pug
include ../blocks/components/block-content/block-content.pug
include ../blocks/components/collapse/collapse.pug
include ../blocks/components/menu-line/menu-line.pug
include ../blocks/components/tabs/tabs.pug
include ../blocks/components/burger/burger.pug

include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/gallary/gallary.pug
include ../blocks/project/tabs-slider/tabs-slider.pug



