-
  const menu = [
    {
      text: 'О нас',
      href: '#about-us',
    },
    {
      text: 'Услуги',
      href: '#services',
    },
    {
      text: 'Прайс лист',
      href: '#price',
    },
    {
      text: 'Галерея',
      href: '#gallary',
    },
    {
      text: 'Контакты',
      href: '#contact',
    }
  ]

  const tabs = [
    {
      text: 'Брови и ресницы',
      className: 'active'
    },
    {
      text: 'Волосы',
    },
    {
      text: 'Макияж',
    },
    {
      text: 'Ногтевой сервис',
    },
    {
      text: 'Свадебные услуги',
    }
  ]

  const price = [
    {
      title: 'Брови и ресницы'
    },
    {
      title: 'Макияж'
    },
    {
      title: 'Косметология и уходы для лица'
    },
    {
      title: 'Перманентный макияж'
    },
    {
      title: 'Ногтевой сервис'
    },
    {
      title: 'Волосы'
    },
    {
      title: 'Массаж'
    },
    {
      title: 'Уход для тела'
    },
    {
      title: 'Свадебные услуги и услуги на выезде'
    },
  ]

  const photoInstagram = [
    {
      img: 'inst1.jpg'
    },
    {
      img: 'inst2.jpg'
    },
    {
      img: 'inst3.jpg'
    }
  ]

  const gallary = [
    {
      img: 'int1.jpg',
      text: 'основной холл'
    },
    {
      img: 'int2.jpg',
      text: 'маникюрные столы'
    },
    {
      img: 'int3.jpg',
      text: 'процедурный кабинет'
    },
    {
      img: 'int4.jpg',
      text: 'процедурный кабинет'
    },
    {
      img: 'int5.jpg',
      text: 'рецепция'
    },
    {
      img: 'int6.jpg',
      text: 'beauty corner'
    }
  ]

  const specification = [
    {
      title: 'I · Брови и ресницы',
      img: 'img1.jpg'
    },
    {
      title: 'II · Волосы',
      img: 'img2.jpg'
    },
    {
      title: 'III · Макияж',
      img: 'img3.jpg'
    },
    {
      title: 'IV · Ногтевой сервис',
      img: 'img4.jpg'
    },
    {
      title: 'V · Свадебные услуги',
      img: 'img5.jpg'
    },
  ]
