mixin collapse({title, desc})
  section.collapse&attributes(attributes)
    h3.collapse__title.js-collapse-click= title
    .collapse__wrap
      .collapse__content
        .table
          table
            tbody
              tr
                th(colspan='4') &Ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;
              tr
                td(colspan='3')  &Kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;
                td 1 600 &#x20BD;
              tr
                td(colspan='3')  &Kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy; (&mcy;&ucy;&zhcy;&chcy;&icy;&ncy;&ycy;)
                td 1 800 &#x20BD;
              tr
                td(colspan='3')  &Ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;
                td  1 500 &#x20BD;
              tr
                td(colspan='3')  &Ocy;&scy;&vcy;&iecy;&tcy;&lcy;&iecy;&ncy;&icy;&iecy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;
                td  1 500 &#x20BD;
              tr
                td(colspan='3')  &Ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;
                td 1 500 &#x20BD;
              tr
                td(colspan='3')  &Dcy;&ocy;&lcy;&gcy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&acy;&yacy; &ucy;&kcy;&lcy;&acy;&dcy;&kcy;&acy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;
                td 3 500 &#x20BD;
              tr
                td(colspan='3')  &Scy;&chcy;&acy;&scy;&tcy;&softcy;&iecy; &dcy;&lcy;&yacy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;*
                td 1 500 &#x20BD;
              tr
                td(colspan='3')  &Scy;&chcy;&acy;&scy;&tcy;&softcy;&iecy; &dcy;&lcy;&yacy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;*
                td 1 500 &#x20BD;
              tr
                th(colspan='4') &Ncy;&acy;&rcy;&acy;&shchcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;
              tr
                th(colspan='2') &Tcy;&icy;&pcy;
                th &Ncy;&acy;&rcy;&acy;&shchcy;&icy;&vcy;&acy;&ncy;&icy;&iecy;
                th &Kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy;
              tr
                td(colspan='2') &Pcy;&iecy;&rcy;&vcy;&ocy;&iecy; &zcy;&ncy;&acy;&kcy;&ocy;&mcy;&scy;&tcy;&vcy;&ocy;
                td 4 800 &#x20BD;
                td
              tr
                td(colspan='2') &Kcy;&lcy;&acy;&scy;&scy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &ocy;&bcy;&hardcy;&iecy;&mcy;
                td 5 500 &#x20BD;
                td 4 200 &#x20BD;
              tr
                td(colspan='2') &Dcy;&vcy;&ocy;&jcy;&ncy;&ocy;&jcy; &ocy;&bcy;&hardcy;&iecy;&mcy;
                td 6 500 &#x20BD;
                td 4 900 &#x20BD;
              tr
                td(colspan='2') &Tcy;&rcy;&ocy;&jcy;&ncy;&ocy;&jcy; &ocy;&bcy;&hardcy;&iecy;&mcy;
                td 7 500 &#x20BD;
                td 5 600 &#x20BD;
              tr
                td(colspan='2') &Ncy;&icy;&zhcy;&ncy;&icy;&iecy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;&ycy;
                td 3 500 &#x20BD;
                td
              tr
                td(colspan='2') &Scy;&chcy;&acy;&scy;&tcy;&softcy;&iecy; &dcy;&lcy;&yacy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;**
                td 1 500 &#x20BD;
                td
              tr
                td(colspan='2') &Scy;&chcy;&acy;&scy;&tcy;&softcy;&iecy; &dcy;&lcy;&yacy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;**
                td 1 500 &#x20BD;
                td
              tr
                td(colspan='2') &Ucy;&gcy;&ocy;&lcy;&kcy;&icy; &kcy;&lcy;&acy;&scy;&scy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy;
                td 2 800 &#x20BD;
                td
              tr
                td(colspan='2') &Ucy;&gcy;&ocy;&lcy;&kcy;&icy; &dcy;&vcy;&ocy;&jcy;&ncy;&ycy;&iecy;
                td 3 300 &#x20BD;
                td
              tr
                td(colspan='2') &Ucy;&gcy;&ocy;&lcy;&kcy;&icy; &tcy;&rcy;&ocy;&jcy;&ncy;&ycy;&iecy;
                td 3 800 &#x20BD;
                td
              tr
                td(colspan='2') &Scy;&ncy;&yacy;&tcy;&icy;&iecy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;
                td 1 000 &#x20BD;
                td
              tr
                td(colspan='2') &Lcy;&acy;&mcy;&icy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;
                td 6 000 &#x20BD;
                td
              tr
                td(colspan='2') &Kcy;&ocy;&lcy;&lcy;&acy;&gcy;&iecy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;
                td 7 900 &#x20BD;
                td
              tr
                td(colspan='4') *&Dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy; &ucy;&khcy;&ocy;&dcy; &kcy; &ucy;&scy;&lcy;&ucy;&gcy;&acy;&mcy; &ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy;, &ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy; &icy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;
              tr
                td(colspan='4') **&Dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy; &ucy;&khcy;&ocy;&dcy; &kcy; &ucy;&scy;&lcy;&ucy;&gcy;&acy;&mcy; &lcy;&acy;&mcy;&icy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;, &kcy;&ocy;&lcy;&lcy;&acy;&gcy;&iecy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &icy; &scy;&ncy;&yacy;&tcy;&icy;&yucy; &rcy;&iecy;&scy;&ncy;&icy;&tscy;.

