// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$line-height:                 1.5 !default;

$field-padding-vertical:      8px !default;
$field-padding-horizontal:    25px !default;

$border-radius:               50px !default;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 14px;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: none;

  &:hover,
  &:focus {

    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }


  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--transparent {
    background-color: transparent;
    color: $black;
    border-color: $black;
  }

  &--width {
    max-width: 300px;
    width: 100%;
  }

  &--success {
    background-color: $color-success;
    border-color: $color-success;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: darken($color-success, 10%);
      border-color: darken($color-success, 12%);
    }
  }
}
